<footer class="p-3 fixed-bottom container-fluid bg-dark">
    <p class="d-inline-block mx-5">
        <a href="{% url 'submission:advertising' %}">Advertising</a>
    </p>
    <p class="d-inline-block mx-5">
        <a href="{% url 'submission:business' %}">Business</a>
    </p>
    <p class="d-inline-block mx-5">
        <a href="{% url 'submission:about' %}">About</a>
    </p>
    <p class="d-inline-block mx-5 float-right" style="color: white">
        Copyright 2022
        <a href="{% url 'moderator:index' %}">TweetWave</a>
    </p>
</footer>