{% extends 'submission/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>About Tweetwave</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Tweetwave is a platform where users can submit their confessions, and they will be automatically tweeted
                to our account. This allows users to anonymously share their thoughts and feelings with the world.</p>
            <p>To submit a confession, simply fill out the form on the homepage and click submit. Your confession will
                be tweeted out shortly after, with no information identifying you.</p>
        </div>
    </div>
</div>
{% endblock content %}