{% extends "submission/base.html" %}

{% block content %}
  <main role="main" id="main">
    <h1>
      <a href="{% url 'submission:index' %}">
        TweetWave
      </a>
    </h1>
    <form class="form p-1" action="{% url 'submission:saved' %}" style="width: 700px" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <!-- <div class="col-10"> -->
          <input type="text" id="tweet" class="form-control" name="tweet" placeholder="Enter your submission">
        <!-- </div> -->
        <!-- <div class="col-2"> -->
          <input type="file" id="attachment" name="attachment" class="fas fa-paperclip fa-lg">
        <!-- </div> -->
        <input type="submit" value="Submit" class="btn btn-secondary mt-3 mx-auto"">
      </div>
    </form>
  </main>
{% endblock content %}
