{% extends 'moderator/base.html' %}

{% block content %}
{% for confession in confessions %}
{% if confession.media %}
<div class="card p-1 m-1">
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <img src="{{ confession.media.url }}" alt="My Image" width="100" height="100" class="img-thumbnail"
                    id="thumbnail">
                <script>
                    var img = document.getElementById("thumbnail");
                    img.onclick = function () {
                        img.style.width = "500px";
                        img.style.height = "500px";
                        img.style.position = "fixed";
                        img.style.top = "50%";
                        img.style.left = "50%";
                        img.style.transform = "translate(-50%, -50%)";
                    }
                    document.onclick = function (event) {
                        if (event.target != img) {
                            img.style = "";
                        }
                    }
                </script>
            </div>
            <div class="col-11">
                {{ confession.text | linebreaks }}
                <div class="button-group btn-group">
                    <form action="{% url 'moderator:remove' confession.uuidField %}" method="POST" class="mx-2">
                        {% csrf_token %}
                        <button name="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="card p-1 m-1">
    <p>
    <div class="card-body">
        {{ confession.text | linebreaks }}
        <div class="button-group btn-group">
            <form action="{% url 'moderator:remove' confession.uuidField %}" method="POST" class="mx-2">
                {% csrf_token %}
                <button name="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
    </div>
    </p>
</div>
{% endif %}
{% empty %}
<p>No pending confessions</p>
{% endfor %}
{% endblock content %}